@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

* {
  font-family: 'Roboto Flex', sans-serif;
}

body {
  font-family: 'Roboto Flex', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pulseText {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.90);
  }
}

.container-with-blur {
  position: relative;
  display: grid;
}

.container-with-blur::before {
  content: '';
  grid-area: 1 / 1 / 2 / 2;
  background: inherit;
  filter: blur(10px); /* Adjust the blur amount as needed */
}

.container-with-blur > *:not(:first-child) {
  grid-area: 1 / 1 / 2 / 2;
}